* {
    margin: 0;
    padding: 0;
}
.container {
    width: 60%;
    margin: 50px auto;
    display: grid;
    /* grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: [baris1-mulai] 50px [baris1-akhir baris2-mulai] 100px [baris2-akhir];
    grid-template-areas: 
    'header header header'
    'footer footer footer';  */
    /* contekan nya grid-template rows,areas dan column  */
    grid-template: [baris1-mulai] 'header header header' 50px [baris1-akhir baris2-mulai]'footer footer footer' 100px [baris2-akhir] / 1fr 2fr 3fr;
}
.item {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(even){
    background-color: salmon;
}
