/* Add styles here */
.container {
    width: 800px;
    margin: 50px auto;
    border: 5px solid black;
    text-align: center;
    display: grid;
    grid-template-areas: "header header"
                         "aside main"
                         "nav main"
                         "footer footer";
    grid-template-columns: 1fr 1.5fr;  
    grid-template-rows: repeat(2, 1fr) 1.9fr;                      
}
header {
    background-color: salmon;
    padding: 40px;
    grid-area: header;
    display: var(--flex-box);
}
aside {
    background-color: yellow;
    padding: 50px;
    grid-area: aside;
}
nav {
    background-color: blue;
    padding: 60px;
    grid-area: nav;
}
main {
    background-color: green;
    padding: 80px;
    flex: 2;
    grid-area: main;
}
footer {
    background-color: red;
    padding: 25px;
    grid-area: footer;
}