body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}
.container {
    width: 60%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 2fr 50px;
}
.item {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(even){
    background-color: salmon;
}